* {
  margin: auto;
}

body {
  background-color: #FFFFFF;
}

h1 {
  text-align: center;
  font-family: 'Caveat', 'sans-serif';
}

form {
  max-width: 700px;
  font-size: smaller;
  font-family: 'Raleway', 'sans-serif';
  color: black;
}

h3 {
  font-size: 20px;
}

input[name="question1"] {
  accent-color: red;
  opacity: 80%;
}
input[name="question2"] {
  accent-color: aqua;
  opacity: 80%;
}
input[name="question3"] {
  accent-color: yellow;
  opacity: 80%;
}
input[name="question4"] {
  accent-color: red;
  opacity: 80%;
}
input[name="question5"] {
  accent-color: yellow;
  opacity: 80%;
}
input[name="question6"] {
  accent-color: aqua;
  opacity: 80%;
}
input[name="question7"] {
  accent-color: red;
  opacity: 80%;
}
input[name="question8"] {
  accent-color: aqua;
  opacity: 80%;
}
input[name="question9"] {
  accent-color: yellow;
  opacity: 80%;
}
input[name="question10"] {
  accent-color: red;
  opacity: 80%;
}

button {
  margin: auto;
  width: 100px;
  opacity: 80%;
}
